body {
  padding: 0;
}

.App {
  background: url("images/background/body_background.webp") no-repeat center
    center/cover fixed;
}

@supports not (
  background: url("images/background/body_background.webp") no-repeat center
    center/cover fixed
) {
  .App {
    background: url("images/background/body_background.jpg") no-repeat center
      center/cover fixed;
  }
}

/* open-sans-regular - latin */
@font-face {
  font-family: "Caslon Antique";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("fonts/CaslonAntique.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("fonts/CaslonAntique.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */
@font-face {
  font-family: "Caslon Antique";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("fonts/CaslonAntique-Bold.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("fonts/CaslonAntique-Bold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
